- csrf_token

- for field in form
  - if field.help_text
    %p.help-text {{field.help_text|safe}}

  - if field.label
    %label
      {{field}} {{field.label}}
  - else
    {{field}}

  - if field.errors
    .field-error {{field.errors|first}}