- load static

!!!
%html(lang="en")
  %head
    %title
      - block title
        &lt;sitename&gt;

    %link(href="{% static 'css/vendor.css' %}" rel="stylesheet")
    %link(href="{% static 'css/style.css' %}" rel="stylesheet")

    :js
      window.csrf = "{{csrf_token}}";
      window.urls = {};

    - block head

  %body(class="{% block body-class %}{% endblock %}")
    - block nav
      - include "layout/nav.html"
      
    - block body

    %script(src="{% static 'js/vendor.js' %}")
    %script(src="{% static 'js/tags.js' %}")

    - block js

    :js
      riot.mount("*");