.nav
  .nav-banner
    %span 
      %a(href="{% url 'user:home' %}") Replay Review

  .nav-links
    .nav-link 
      %a(href="#") New Replay

    - if request.user.is_authenticated
      .nav-link
        %a(href="{% url 'user:logout' %}") Logout
    - else
      .nav-link
        %a(href="{% url 'user:signup' %}") Sign up
      .nav-link
        %a(href="{% url 'user:login' %}") Login
