- extends "layout/base.html"
- load static

- block title
  Hello world!

- block head
  %link(href="{% static 'css/style.css' %}" rel="stylesheet")

- block body
  <example-tag></example-tag>
  <another-example-tag></another-example-tag>

- block js
  %script(src="https://cdn.jsdelivr.net/npm/riot@3.7/riot+compiler.min.js")
  %script(src="{% static 'js/tags.js' %}")

  :js
    riot.mount("*");