- extends "layout/base.html"
- load static

- block body
  .page-modal
    %h2 Login

    %form.form(method="POST")
      - csrf_token

      - for field in login_form
        - if field.label
          %label
            {{field}} {{field.label}}
        - else
          {{field}}

        - if field.errors
          .field-error {{field.errors|first}}

      %input.btn.btn-block.btn-white(type="submit" value="Login")