- extends "layout/base.html"
- load static

- block head
  %link(href="{% static 'css/style.css' %}" rel="stylesheet")

- block body
  .page-modal
    %h2 Create Your Account

    %form.form(method="POST")
      - csrf_token
      
      %input(type="text" name="username" placeholder="Username")
      %input(type="text" name="email" placeholder="email@example.com")
      %input(type="text" name="password" placeholder="Password")
      %input(type="text" name="password_confirm" placeholder="Confirm password")

      %input.btn.btn-block(type="submit" value="Create Account")