- extends "layout/base.html"
- load static

- block body
  .page-modal
    %h2 New Replay

    %p This replay will be available publically for everyone to see. Make sure the video 
      is not set to private so other people can view it.

    %p Record the replay from your perspective. Editing the video is not necessary. Please 
      do not include any music.

    %form.form(method="POST")
      - include "partials/form.html" with form=replay_form

      %input.btn.btn-block.btn-white(type="submit" value="Submit Replay")