.body-container {
  max-width: 1200px;
  padding: 40px 20px 20px;
  margin: 0px auto; 
}

.page-modal {
  margin: 75px auto 0px;
  width: 400px;
  padding: 20px;
  background-color: #EAEAEA;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.section-header {
  margin-bottom: 30px;
}