@mixin rounded-input {
  padding: 12px 15px;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.btn {
  @include rounded-input;
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-white {
  background-color: #FFF;

  &:hover {
    background-color: #FAFAFA;
  }
}

.form {
  input:not([type="submit"]):not([type="checkbox"]),
  textarea {
    @include rounded-input;

    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  input[type="checkbox"] {
    margin-top: 10px;
    position: relative;
    top: 1px;
  }

  input[type="submit"] {
    margin-top: 20px;
  }

  textarea {
    width: 100%;
    resize: vertical;
    min-height: 4rem;
    max-height: 15rem;
  }
}

.field-error {
  color: #B00;
  margin: 5px 0px 10px;
  padding-left: 3px;
}

.help-text {
  padding-left: 3px;
  font-size: 12px;
}